# Chave secreta do Django
DJANGO_SECRET_KEY=coloque_sua_chave_secreta_aqui

# Debug ativo? True para dev, False para produção
DJANGO_DEBUG=False

# Ambiente (dev ou prod)
DJANGO_ENV=prod

# Hosts permitidos (separados por vírgula)
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Configurações do banco PostgreSQL para local
POSTGRES_DB=nome_do_banco
POSTGRES_USER=usuario_do_banco
POSTGRES_PASSWORD=senha_do_banco
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Configurações do provedor de e-mail (ex.: Brevo)
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=seu_login_do_brevo
EMAIL_HOST_PASSWORD=chave_api_smtp_fornecida_por_eles

# Configurações do banco PostgreSQL para deploy
DATABASE_URL=postgresql://usuario_do_banco:senha_do_banco@host_do_banco:porta/nome_do_banco

# SCADA
SENTRY_DSN=https://abcd123@xyz.ingest.sentry.io/456